# 101 - Python Crash Course

Welcome to our Python programming session, designed specifically for aspiring data analysts. This course is structured to equip you with the essential Python skills necessary for data analysis. Here's the streamlined syllabus we'll cover:

* Data Types: We'll start by exploring Python's basic building blocks: numbers, strings, lists, dictionaries, Booleans, tuples, and sets. Understanding these is crucial for manipulating and analyzing data effectively.

* Comparison Operators: Learn how to use operators to compare values, an essential skill for filtering data and making decisions in your analysis.

* Conditional Statements: Master the art of controlling the flow of your Python scripts with if, elif, and else statements. This allows your code to react differently based on the data it processes.

* Loops: Discover how to automate repetitive tasks with for and while loops, saving time and effort in data processing.

* The range() Function: We'll show you how to generate sequences of numbers quickly, a handy tool for many data analysis tasks.

* List Comprehension: Learn this concise method for creating lists, a more efficient way to handle data collections in Python.

* Functions: Dive into defining and using functions, which help organize your code into more manageable, reusable pieces.

* Lambda Expressions: Get to grips with lambda expressions for creating anonymous functions. These are particularly useful for short, one-off operations without needing a full function definition.

* map and filter: We'll cover how to use these functions to apply operations across data collections and filter data according to specific criteria.

* Methods: Finally, explore the various methods available for different data types in Python. These built-in functions enable you to perform common tasks on data easily.

This course aims to provide a foundation in Python programming, focusing on the skills needed for data analysis. Through practical examples and exercises, you'll learn how to manipulate and analyze data efficiently, setting you up for success in your data analysis endeavors. Let's embark on this learning journey together.

#### Further reading
* What is object-oriented programming?
    * https://en.wikipedia.org/wiki/Object-oriented_programming
    * https://realpython.com/python3-object-oriented-programming/
    * https://automatetheboringstuff.com/2e/chapter1/

* Best courses to kick-off with Python
    * https://www.dataquest.io/
    * https://automatetheboringstuff.com/
 
* Nice websites where people share how to use Python for data analysis
    * https://towardsdatascience.com/
    * https://www.analyticsvidhya.com/blog/?utm_source=feed
    * https://www.datasciencecentral.com/

## 101.1 - Data types

### Numbers

In [ ]:
1 + 1

In [ ]:
1 * 3

In [ ]:
1 / 2

In [ ]:
2 ** 4

In [ ]:
4 % 2

In [ ]:
5 % 2

In [ ]:
(2 + 3) * (5 + 5)

### Variable Assignment

In [ ]:
# Variables can't start with number or special characters
name_of_var = 2

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
z

### Strings

In [ ]:
'single quotes'

In [ ]:
"double quotes"

In [ ]:
" wrap lot's of other quotes"

In [ ]:
"""This is
a multi line 
string
that can be spread through multiple lines!"""

### Printing

In [ ]:
x = 'hello'

In [ ]:
x

In [ ]:
print(x)

In [ ]:
num = 12
name = 'Michal'

In [ ]:
print(f'My number is: {num}, and my name is: {name}')

### Lists

In [ ]:
[1,2,3]

In [ ]:
['hi',1,[1,2]]

In [ ]:
my_list = ['a','b','c']

In [ ]:
my_list.append('d')

In [ ]:
my_list

In [ ]:
my_list[0]

In [ ]:
my_list[1]

In [ ]:
my_list[1:]

In [ ]:
my_list[:1]

In [ ]:
my_list[0] = 'NEW'

In [ ]:
my_list

In [ ]:
nest = [1,2,3,[4,5,['target']]]

In [ ]:
nest[3]

In [ ]:
nest[3][2]

In [ ]:
nest[3][2][0]

### Dictionaries

In [ ]:
d = {'key1':'item1','key2':'item2'}

In [ ]:
d

In [ ]:
d['key1']

### Booleans

In [ ]:
True

In [ ]:
False

### Tuples

In [ ]:
t = (1,2,3)

In [ ]:
t[0]

In [ ]:
t[0] = 'NEW'

### Sets

In [ ]:
{1,2,3}

In [ ]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

## 101.2 - Comparison Operators

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

## 101.3 - Logic Operators

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## 101.4 - if, elif, else Statements

In [ ]:
if 1 < 2:
    print('Yep!')

In [ ]:
if 1 < 2:
    print('yep!')

In [ ]:
if 1 < 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

## 101.4 - for Loops

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for item in seq:
    print(item)

In [ ]:
for item in seq:
    print('Yep')

In [ ]:
for jelly in seq:
    print(jelly+jelly)

## 101.5 - while Loops

In [ ]:
i = 1
while i < 5:
    print(f'i is: {i}')
    i = i+1

## 101.6 - range()

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
list(range(5))

## 101.7 - list comprehension

In [ ]:
x = [1,2,3,4]

In [ ]:
out = []
for item in x:
    out.append(item**2)
print(out)

In [ ]:
[item**2 for item in x]

## 101.8 - functions

In [ ]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [ ]:
my_func

In [ ]:
my_func()

In [ ]:
my_func('new param')

In [ ]:
my_func(param1='new param')

In [ ]:
def square(x):
    return x**2

In [ ]:
out = square(2)

In [ ]:
print(out)

## 101.9 - lambda expressions

In [ ]:
def times2(var):
    return var*2

In [ ]:
times2(2)

In [ ]:
lambda var: var*2

## 101.10 - map and filter

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
map(times2,seq)

In [ ]:
list(map(times2,seq))

In [ ]:
list(map(lambda var: var*2,seq))

In [ ]:
filter(lambda item: item%2 == 0,seq)

In [ ]:
list(filter(lambda item: item%2 == 0,seq))

## 101.11 - methods

In [ ]:
st = 'hello my name is Sam'

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
st.split()

In [ ]:
tweet = 'Go Sports! #Sports'

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[1]

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.items()

In [ ]:
lst = [1,2,3]

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
'x' in [1,2,3]

In [ ]:
'x' in ['x','y','z']